<h1>Edit Job</h1>
<%= form_with model: @title do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>
  <div>
    <%= form.label :job_description %>
    <%= form.text_field :job_description %>
  </div>
  <div>
    <%= form.label :job_description %>
    <%= form.text_field :job_description %>
  </div>
  <div>
    <%= form.label :date_applied %>
    <%= form.text_field :date_applied %>
  </div>
  <div>
    <%= form.label :followed_up %>
    <%= form.text_field :followed_up %>
  </div>
  <div>
    <%= form.label :interview %>
    <%= form.text_field :interview %>
  </div>
  <div>
    <%= form.label :salary %>
    <%= form.text_field :salary %>
  </div>
   <div>
    <%= form.label :remote %>
    <%= form.text_field :remote %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end%>

 <%# t.string "job_description"
    t.string "company_name"
    t.string "date_applied"
    t.string "followed_up"
    t.string "interview"
    t.integer "salary"
    t.string "remote"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "title" %>