
<h1>Search below to find your next job</h1>
<p>Make sure to include the job title and location</p>

<br><br><br><br><br>

<%= form_tag searches_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
  <%= submit_tag "Search" %>
<% end %>


<ul>
  <% @results.each do |result| %>
    <li><%= result["name"] %></li>
    <li><%= result["description"] %></li>
    <!-- ... -->
  <% end %>
</ul>
